//- pugfun.pug

p Hi #{name},
p You have been invited to join the #{org} organization at Harbor. Follow the link below, create an account tied to this email address, and you'll automatically be joined.

a(href=server) Click here to join Harbor
